@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// colors
$lightGrey: #f6f7f1;
$bodyGrey: #f5f5f1;
$black: #333338;
$grey: #afafaf;
$hardGrey: #6a6b65;
$blue: #0492ad;
$hardBrown: #85430F;
$turquoise: #28e3e2;
$green: #1ca142;
$orange: #fc7525;
$orange: #fc7525;
$orange: #fc7525;
$orange: #fc7525;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f1;
    color: $hardGrey;
}

h3,
h4 {
    color: $black;
}