* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}